@import "../../styles/variables.scss";

.Workspaces__container {
//   background-color: chartreuse;
  width: 100%;
  height: 100%;
  padding: 1rem 0.5rem;
//   border-radius: 10px;
  //   background: $squareBackground;
  .Workspaces__list {
    margin: 0.5rem 0;
    // background-color: coral;
    background-color: #1F2E35;
    box-shadow: 2px 3px 10px 0 black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1.2rem 0.5rem;
    .Workspaces__title{
        color: rgba(255, 255, 255, 0.89);
        font-size: 2rem;
        text-align: center;
    }  
    .Workspaces__worksGroup{
        width: 100%;
        color: white;
        margin-bottom: 1rem;
        padding: 0;
        margin: 0;
        .Workspaces__worksGroup_title{
            text-align: center;
            margin: 0;
            color: rgba(255, 255, 255);
            text-shadow: 1px 1px 3px black ;
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 1rem;
        }
    }
    .Workspaces__button_container{
        margin-top: 1rem;
        .Workspaces__button{
            background: transparent;
            // background-color: wheat;
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            align-self: center;
            color: rgba(255, 255, 255, 0.89);
            font-size: 1.2rem;
                   
            .Workspaces__button_icon{
                margin-left: 5px;
                font-size: 1.5rem;
                // color: black;
                color: #25C685;
            }
        }
    }
}

}
