.logInButtonContainer {
    height: 6vh;
    background: rgba(115, 0, 255, 0.41);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left:0;
    .logInButton {
        background-color: #C985FF;
        border: none;
        box-shadow: 3px 3px 10px black;
        border-radius: 10px;
        color: #555;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.42857;
        margin-bottom: 0;
        padding: 6px 12px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        width: 90%;
    }
}