@import "../../styles/variables.scss";
.navigationTop{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
  
    .navigationTop__navLink{
        padding: 1rem;
        font-size: 1.3rem;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
    }
    .navigationTop__navLink_onlyDesktop{
        display: none;
    }
    .channelsNavUl {
		margin: 0;
		padding: 0;
		margin: auto 1.1rem;
		font-size: 1.1rem;
		color: white;
		text-shadow: 1px 1px 3px black;
	}
	.title{
		margin: auto 0;
		font-size: 1.1rem;
		color: white;
		text-shadow: 1px 1px 3px black;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-transform: capitalize;
	}
	.Profile_image{
		width: 35px;
		height: 35px;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.channelsNavProfileBtn{
		width: 35px;
		height: 35px;
		border-radius: 50%;
		position: relative;
		border: none;
		background: transparent;
	}
}

.navigationTop_user{
    padding-top: 1rem;
}

@media only screen and (max-width: $mediumDevices) {
    .navigationTop{
        display: none;
    //     padding: 0 2rem;
    //     .navigationTop__navLink{
    //         padding: 0.6rem 0.8rem;
    //         font-size: 1.5rem;
    //         text-decoration: none;
    //         // color: rgba(255, 255, 255, 0.8);
    //         color: white;
    //     }
    //     .navigationTop__navLink_onlyDesktop{
    //         display: block;
    //     }
    //     .Profile_image{
    //         width: 45px;
    //         height: 45px;
    //     }
    //     .channelsNavProfileBtn{
    //         width: 45px;
    //         height: 45px;
    //     }
    // }
    // .navigationTop_user{
    //     padding-top: 1rem;
    //     padding-right: 1.5rem;
    }
    
  }

//   .channelsNav {
// 	position: fixed;
// 	width: 101%;
// 	height: 50px;
// 	background: #30444e;
// 	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// 	display: flex;
// 	justify-content: space-between;
// 	z-index: 10;

// }