@import "../../styles/variables.scss";

.class-super-container{
    margin: 0;
    padding: 16px;
    padding: 50px 0;
    height: 95vh;
    .class-title{
        color: white;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        text-shadow: 1px 1px 3px black;
        margin-bottom: 2rem;
        border-bottom: 3px solid white;
    }
    .class-video-super-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(320px, 1fr));
        gap: 1rem;
        padding-bottom: 60px;
    }
}

@media (min-width: 768px){
    .class-super-container{

        .class-video-super-container{
            padding-bottom: 16px;
        }
    }
}