
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h2{
    background-color: blue;
    height: 50px;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 25px;
}
.test {
    @apply bg-red-500 
  }