$mainBackground: #22343C;
$squareBackground: #30444E;
$backButtonColor: #92C4FE;
$priceVioletGradient: linear-gradient(-90deg, #e22fb5 0%, #5E2D9C 100%);
$priceBlueGradient: linear-gradient(-90deg, #92C4FE 0%, #0A7AFF 100%);
$priceGoldGradient: linear-gradient(-90deg, #FFE600 0%, #FF9900 100%);
$smallDevices: 576px;
$mediumDevices: 768px;
$largeDevices: 992px;
$mainButtonColor: linear-gradient(180deg, #C985FF 0%, #5E2D9C 100%);