.slideComp{
  width: 100%;
  height: 100%;
  position: fixed;
  transition: 0.2s;
  top: 0;
  left: calc((var(--i) - var(--page))*100vw);
  animation: fadeIn 1.5s ease-out;
}
.login_navTop{
  z-index: 1;
 }
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 500px){
  .slideComp{
    display: flex;
  }
}