@import "../../styles/variables.scss";
.Logs {
  // position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  padding: 68px 3vw 0 3vw;
  max-width: 400px;
  margin: auto;
  
  .singleButton{
    display: flex;
    // background: blue;
    margin: 1rem auto;
    width: 100%;
    justify-content: center;
    height: 3.5rem;
    .loginGoogle {
        width: 100%;
        height: 3.5rem;
        display: flex;
        justify-content: space-around;
        padding: 0 1.5rem;
        align-items: center;
        border-radius: 15px;
        border: none;
        font-size: 1.5rem;
        font-weight: bold;
        box-shadow: 5px 5px 15px black;
        color: #8a9194;
        .logoGoogle {
            width: 32px;
        }
    }
  }

  .Logs_title {
    color: #fff;
    text-align: center;
    font-family: "Ubuntu Condensed";
    font-style: normal;
    font-size: 2.5rem;
    line-height: 2.8rem;
    padding: 0 5%;
  }

  .Logs_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14rem;
    width: 100%;
    margin: 2.5rem auto;
  }
  .Logs_buttons {
    display: flex;
    justify-content: space-between;
    padding: 13px 30px;
    margin: 20px 0;
    button {
      border: none;
      padding: 20px;
      min-width: 110px;
      background: $mainButtonColor;
      border-radius: 20px;
      color: white;
      font-family: "Ubuntu Condensed";
      font-size: 1.8rem;
      line-height: 1rem;

      text-align: center;
    }
  }
  .Logs_link {
    margin-left: calc(3vw + 30px);
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-decoration-line: underline;
    color: #e3eeff;
  }
  .Logins__toggle-botton{
    font-style: italic;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 23px;
    text-decoration-line: underline;
    color: #E3EEFF;
    background-color: transparent;
    outline: none;
    border:none;

  }
}
