.Categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    padding-top: 70px;
    .Categories-link{
        text-decoration: none;
        width: 100%;
        // margin: 0 auto;
        .Categories__item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            letter-spacing: 0.5px;
            width: 70%;
            font-size: 1.2rem;
            color: #fff;
            background: #30444e;
            border-radius: 1.5rem;
            padding: 1rem 2rem;
            margin: 0 auto;
            text-shadow: 1px 1px 3px black;
            box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
        }
    }
    .singleChannelArrow{
        // background: yellow;
        width: 10%;
        // margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: rgb(230, 224, 224);
        text-shadow: 2px 2px 5px black;
        font-weight: 400;
        p{
            margin: 0;
        }
    }
}