@import "../../styles/variables.scss";


.buttonContainer{
    position: relative;
    // background: red;
    width: 30%;
    height: 3.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    .backButton {
        background: $backButtonColor;
        color: white;
        border: none;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 10px;
        box-shadow: 3px 3px 10px black;
        font-weight: bold;
        font-size: 2rem;
        position: absolute;
    }
}