.channelsNav {
	position: fixed;
	width: 101%;
	height: 50px;
	background: #30444e;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-between;
	z-index: 10;
	.channelsNavUl {
		margin: 0;
		padding: 0;
		margin: auto 2rem;
		font-size: 1.1rem;
		color: white;
		text-shadow: 1px 1px 3px black;
	}
	.title{
		margin: auto 0;
		font-size: 1.1rem;
		color: white;
		text-shadow: 1px 1px 3px black;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-transform: capitalize;
	}
	.Profile_image{
		width: 35px;
		height: 35px;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.channelsNavProfileBtn{
		width: 35px;
		height: 35px;
		border-radius: 50%;
		position: relative;
		border: none;
		background: transparent;
	}
}