@import "../../styles/variables.scss";

.loginEmailContainer{
    margin-top: 9rem;
}

.loginTitle {
    color: white;
    width: 100%;
    // background: red;
    text-align: center;
    margin-top: 3rem;
    text-shadow: 1px 1px 3px black;
}

.formContainer{
    width: 100%;
    // background: red;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 2rem;
    padding: 2rem 0;
    form{
        width: 100%;
    }
    .divInput{
        position: relative;
        width: 90%;
        // background: blue;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
           width: 48px;
           height: 48px; 
        }
        .inputForm{
            width: 80%;
            height: 3.5rem;
            margin: 2.5rem auto;
            padding: 0.5rem 1rem;
            outline: none;
            border: none;
            box-shadow: 0px 0px 10px black inset;
            border-radius: 10px;
            background: lightgray;
            font-size: 1.3rem;
            font-family: 'Ubuntu Condensed', "Roboto";
            &:focus ~ .labelForm, &:valid ~ .labelForm{
                top: 5%;
                font-weight: bold;
                font-size: 1.3rem;
                text-shadow: 1px 1px 3px black;
                color: white;
            }
        }
        .labelForm{
            position: absolute;
            left: 23%;
            top: 37.5%;
            font-size: 1.2rem;
            transition: 0.5s;
            color: black;
        }
    }
}

.singleButton {
    display: flex;
    // background: blue;
    margin: 1rem auto;
    width: 80%;
    justify-content: center;
    height: 3.5rem;
    .loginEmail {
        width: 100%;
        height: 3.5rem;
        display: flex;
        justify-content: space-around;
        padding: 0 1.5rem;
        align-items: center;
        border-radius: 15px;
        border: none;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1rem;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
        background: $mainButtonColor;
        color: white;
        text-shadow: 1px 1px 3px black;
    }
}