/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* Grilla principal*/

.inDivGrid {
    border-radius: 10px;
    background-color: #30444E;
    text-align: center;
    margin: 8%;
    display: grid;
    grid-template-columns: 25% 60% 15%;
}


/* Grilla para texto y descripción*/

.textDivGrid {
    display: grid;
    grid-template-rows: 50% 50%;
    height: 100%;
}

.aboutlinkedInImage {
    border-radius: 10px;
    width: 48px;
    margin: auto;
}

.aboutPersonImage {
    border-radius: 10px;
    width: 90%;
    height: 60px;
    align-self: center;
    object-fit: cover;
    object-position: center center;
}

.aboutText {
    text-decoration: none;
    color: #fff;
    height: 48px;
}

.abouth1Name {
    margin: auto;
    line-height: 1rem;
}

.aboutHeaderName {
    color: #fff;
    text-align: center;
    font-size: 3rem;
}

.automatic {
    margin: auto;
}


/* Media queries*/

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
    /* Contenedores chicos */
    .about__responsive {
        border-radius: 10px;
        text-align: center;
        width: auto;
        display: grid;
        grid-template: auto auto auto auto / 1fr 1fr;
        grid-gap: 30px;
        margin-bottom: 100px;
    }
}