/* Contenedor principal*/

.aboutArticle {
    color: #fff;
    width: 90%;
    margin: auto;
}

.superButton {
    margin-top: 78px;
    margin-bottom: 47px;
}


/* Contenedor de redes sociales*/

.icon {
    margin: auto;
    border-radius: 20px;
    width: 50%;
}

.socialNetwork {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 30% 70%;
    margin: auto;
    text-align: left;
    border-radius: 25px;
    background-color: #30444E;
    margin-bottom: 20px;
    box-shadow: 2px 4px 8px #222020;
}

.socialTextNetwork {
    display: grid;
    grid-template-rows: 33px 33px 33px;
}