.channelsSuperContainer {
	// background: red;
	height: 40vh;
    padding: 16px;
	padding-top: 16px;
	.channels {
		background: #30444e;
		margin: 0 auto;
		margin-top: 3rem;
		height: 30vh;
		width: 100%;
		border-radius: 10px;
        padding-top: 2rem;
		.channelsNotFound {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            // background: blue;
			h3 {
				color: white;
				font-size: 2.5rem;
                margin: 0;
                text-shadow: 1px 1px 3px black;
                font-weight: 400;
			}
		}
		.channelsAddChannel {
			margin: 0;
            margin-top: 2rem;
            // background: blue;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
			h4 {
				color: white;
                font-size: 1.5rem;
                text-shadow: 1px 1px 3px black;
                font-weight: 400;
			}
            button {
                // font-weight: bold;
                font-size: 2rem;
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                outline: none;
                border: none;
                background: linear-gradient(180deg, #40DF9F 0%, #3ED598 100%);
                color: white;
                text-shadow: 1px 1px 3px black;
            }
		}
	}
}

@media (min-width: 1024px){
    .channelsSuperContainer{

        .channels{
            // background: red;
            width: 30%;
            .channelsAddChannel{
                button{
                    cursor: pointer;
                }
            }
        }
    }
}