@import "../../styles/variables.scss";


.PricingComponent-container{
    box-sizing: border-box;
    // width: 50vw;
    // height: 50vh;
    // background-color: aquamarine;
    position: absolute;
    width: 100%;
    height: 100vh;
}
.pricingTitle{
    color: white;
    text-align: center;
    padding: 20px 30px;
}
.pricingContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // background-color: yellowgreen;
    //width: 100%;
    padding: 1rem;
    padding-bottom: 60px;
}
@media only screen and (min-width: $mediumDevices) {
    .pricingContainer{
        flex-direction: row;
        // flex-wrap: wrap;
    }
}