.MenuToggleContainer{
    display: block;
    position: fixed;
    bottom: calc( 0px + 40px);
    left: 0px;
    min-height: calc(100vh - 100px);
    // height: 100%;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 15px 15px 0 0;
    //animation: slideToTop 0.3s linear 
}
@keyframes slideToTop {
    from {
        bottom: -100vh;
    }
    to {
        bottom: 0;
    }
}