@import "../../../styles/variables.scss";

.acctype-super-container{
    position: absolute;
    // z-index: 1;
    height: 85%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // backdrop-filter: blur(3px);
    .acctype-container{
        // mix-blend-mode: darken;
        background: rgb(158, 67, 161);
        // box-shadow: 30px 0px 70px rgb(95, 28, 112) inset;
        background: $squareBackground;
        // filter: brightness(80%);
        // background: linear-gradient(-90deg, #a434d8 0%, #421b75 100%);
        width: 80%;
        height: 40%;
        border-radius: 10px;
        padding: 32px 16px;
        // margin: calc(100vh - (45vh / 2)) auto auto auto;
        // backdrop-filter: blur(5px);
        .acctype-title-div{
            // background: blue;
            text-align: center;
            h2{
                text-shadow: 1px 1px 3px black;
                color: white;
                font-weight: 400;
                margin: 0 auto 1rem auto;
            }
        }
        
        .acctype-button-div{
            // background: green;
            width: 100%;
            margin-top: 4vh;
            display: flex;
            flex-direction: column;
            gap: 5rem;
            
            .acctype-input-div{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                // flex-direction: row;
                width: 80%;
                height: 3rem;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 10px;
                margin: 0 auto;
                margin-bottom: 1rem;
            }
            .acctype-choose-business{
                width: 24px;
                height: 24px;
                display: flex;
                gap: 2rem;
                justify-content: center;
                align-items: center;
                outline: none;
                border: none;
                padding: 16px;
                font-size: 1.2rem;
                font-weight: bold;
                border-radius: 16px;
                background: rgb(198, 199, 204);
                // margin-left: 1.5rem;
                // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8) inset, 3px 3px 10px rgba(0, 0, 0, 0.5);
            }
            .acctype-labels{
                width: 63%;
                outline: none;
                border: none;
                color: white;
                font-size: 1.2rem;
            }
            p{
                margin: 0 auto;
                margin-bottom: 0.5rem;
                width: 90%;
                text-align: center;
                color: rgb(207, 201, 201);
                text-shadow: 1px 1px 3px black;
            }
        }
        .acctype-buttons-div{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            margin-top: 2rem;
            .acctype-submit-div{
                width: 40%;
                height: 32px;
                font-size: 1rem !important;
                .acctype-submit-btn{
                    width: 100%;
                    padding: 15px !important;
                    margin: 0 auto;
                    outline: none;
                    border: none;
                    border-radius: 10px !important;
                    background: rgb(231, 226, 226) !important;
                    // box-shadow: 0px 0px 20px rgb(58, 10, 68) inset !important;
                }
                .acctype-google-btn{
                    align-items: flex-start !important;
                    justify-content: center !important;
                    width: 100%;
                    border: none !important;
                    padding: 15px !important;
                    border-radius: 10px !important;
                    background: rgb(231, 226, 226) !important;
                    // box-shadow: 0px 0px 20px rgb(58, 10, 68) inset !important;
                    font-family: "Ubuntu Condensed" !important;
                    // font-weight: bold !important;
                    div{
                        padding: 0 !important;
                        height: 0;
                    }
                    span{
                        padding: 0 !important;
                        font-size: 1rem !important;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px){
    .acctype-super-container{

        .acctype-container{
            width: 50%;
        }
    }
}