/* Var box*/

* {
    --var-container-color: #30444E
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

/* Contenedor main */

.Video__container-main {
    display: flex;
    /* Verticalmente - En este caso a la base */
    align-items: baseline;
    /* Horizontalmente - En este caso al centro */
    justify-content: center;
    padding: 15px;
}


/* Contenedor del formulario */

.Video__container-form {
    display: flexbox;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    /* TODO: Cambiar el color */
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    background-color: var(--var-container-color);
    width: 80%;
}


/* Título completo que se ve dentro del formulario */

.Video__title-main {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

// Input file
.Video__file-uploader-text {
    padding: 15px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 1.4rem;
}

.inputDiv {
    position: relative;
}
.Video__title-placeholder{
    position: absolute;
    top: 0;
    left: 0;
}

.Video__file-uploader-btn {
    background-color: #fff;
    border:none;
    font-size:1.6rem;
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    /* Only SASS */
    &:hover{
        background-color: rgb(204, 204, 204);
    border:none;
    
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    }
    /* Pro -> TIP*/
}
// .Video__file-uploader-btn:hover {
//     background-color: rgb(204, 204, 204);
//     border:none;
    
//     margin-top: 15px;
//     padding: 15px;
//     width: 100%;
//     border-radius: 15px;
// }

.Video__file-uploader-textfield {
    height: 30px;
}


/* ------------------------------------------------------------------------------- */

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #68428b;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #6c1582;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #626caa;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    border-radius: 5px;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

#description{
    margin-top: 1rem;
    resize: none;
}